<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.title or title }}  | {{ meta.siteName }}</title>
    <link rel="stylesheet" href="./assets/css/styles.css"/>
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for {{ meta.siteName }}" href="/feed.xml"/>
    {%- include "partials/head.njk" %}
  </head>